body {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}
.consolacompleta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28.774em;
    height: 47.334em;
    background-color: #0045b1;
    margin-top: 2em;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 2.5%;
    }

    .pantalla1 {
        background-color: #3f4544;
        display: flex;
        align-items: center;
        margin-left: -9.5em;
        width: 25em;
        height: 22em;
        margin-top: -21em;
        border-top-left-radius: 2.5%;
        border-top-right-radius: 2.5%;
        border-bottom-right-radius: 15%;
        border-bottom-left-radius: 2.5%;
    }

    .pantalla2 {
        background-color: #afc294;
        display: flex;
        align-items: center;
        width: 19em;
        height: 17.5em;
        margin-left: -9.5em;
        margin-top: -0.5em;
        border-radius: 1%;
    }

    .nintendor {
        display: flex;
        margin-left: 3.7em;
        margin-top: -0.8em;
    }

    .encendido {
        display: flex;
        margin-left: 0.4em;
        margin-top: -11.5em;
        width: 2.5em;
        height: 1.7em;

    }
    .gameboy {
        display: flex;
        margin-top: 19.5em;
    }

    .off {
        display: flex;
        color: ;
        margin-top: -45em;
        margin-left: -24.5em;
        color: #0e33a1;
    }

    .triangulo1 {
        display: flex;
        margin-top: -45.25em;
        margin-left: 0.3em;
        color: #0e33a1;
    }

    .triangulo2 {
        display: flex;
        margin-top: -45.25em;
        margin-left: 1em;
        color: #0e33a1;
    }

    .on {
        display: flex;
        margin-top: -45.1em;
        margin-left: 0.3em;
        color: #0e33a1;
    }

    .nintendolog {
        display: flex;
        border: 0.16em solid darkblue;
        width: 8em;
        justify-content: center;
        margin-left: 1.5em;
        margin-top: 5.5em;
        border-radius: 25%;
    }

